*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;

}

.card{
    transition: all 0.2s;
    width: 30%;
    height: 20%;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
