
#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
    font-size: xx-small;
    width: 100vw;
    height: 70vh;
}


.card-left{
    transform: perspective(5em) rotatey(-10deg);
    transform-style: preserve-3d;
}
.card-right{
    transform: perspective(5em) rotatey(10deg);
    transform-style: preserve-3d;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
